<!DOCTYPE html>
<html lang="it" 
	  xmlns:th="http://www.thymeleaf.org"
	  th:fragment="baseLayout(pageTitle, content)">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title th:text="${pageTitle} ?: 'Registro Spring Boot'"></title>
    
    <link rel="stylesheet" th:href="@{/css/style.css}">
  </head>
  
  <body>
  	
  	<!-- Main content -->
  	<main>
  		<div th:insert="${content}"></div>
  	</main>
  	  	
	<script th:src="@{/css/index.js}"></script>
  </body>
</html>