<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="
      	~{layout :: baseLayout('Dashboard',
      		~{pages/auth/authLayout :: authLayout(~{::div})}
      	)}
      ">
      
      <div>
      		<h1>Ciao</h1>

			<p>Ciao ragazzi</p>
			
			<p>Siamo dentro l'area di amministrazione di un gestionale Spring Boot</p>
			
			<form th:action="@{/logout}" method="POST" style="display: inline;">
				<!-- Metto CSRF token per evitare problemi di sicurezza -->
				<input type="hidden"
			           th:name="${_csrf.parameterName}"
			           th:value="${_csrf.token}" />
			           
			    <button type="submit">Esci (logout)</button>
			</form>
      </div>
      
</html>
